dist: xenial
language: python
python:
- 3.8
cache:
  apt: true
addons:
  apt:
    packages:
    - libgmp-dev
    - libmpfr-dev
    - libmpc-dev
    - verilator
before_install:
- pip install -U pip
install:
- pip install pytest-cov fault mantle
- pip install python-coveralls
- pip install -e .
script:
- py.test --cov=peak tests/
after_success:
- coveralls
